<!DOCTYPE html>
{% extends "archef/base.html" %}
{% load static %}



{% block body_block %}
          <!--  adjust window height and size on login -->


        <div class="container" style="direction:rtl">
        <div class="card card-container">
            <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->

            <form class="form-signin" method="POST">
                {% csrf_token %}
                <span id="reauth-email" class="reauth-email"></span>
                <input type="number" id="name" name="user_name" class="form-control" placeholder="اسم المستخدم" required autofocus>
                <input type="password" id="password" name="user_password" class="form-control" placeholder="كلمة السر" required>
                {% if failed == 1 %}
                <p style="color:red;">خطأ في اسم المستخدم او كلمة السر</P>
                {% endif %}
                {% if noper == 1 %}
                <p style="color:red;">عفواََ هذا المستخدم لا يملك صلاحيات الدخول</P>
                {% endif %}
                <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">تسجيل الدخول</button>
            </form><!-- /form -->
        </div><!-- /card-container -->
    </div><!-- /container -->




{% endblock %}
